{% extends 'financeapp/home.html' %} {% load static %} {% block content %}
<div class="jumbotron">
    <div class="container"></div>
        <h1 class="display-4">Welcome to Paper Trader!</h1>
        <p class="lead">Python Django portfolio project that helps you test your trading skills.</p>
        <hr class="my-4">
        <p>Not a member? Registration is simple, easy, and quick.</p>
        <a class="btn btn-info btn-lg" href="{% url 'register' %}" role="button">Sign Me Up!</a>
        <hr class="my-4">
        <p>Already a member? Click to login below.</p>
        <a class="btn btn-warning btn-lg" href="{% url 'login' %}" role="button">Login Now!</a>
    </div>
</div>
{% endblock content %}